<div>
  <h1>Create a new Wizard</h1>
  <p>
    This is just a form that can temporarily add a new wizard to the database to
    show a POST request.
  </p>
  <form action="/api/warbands/wizards" method="POST">
    <!-- this would be connected to user sessions but for now is temporary -->
    <input type="hidden" name="ownerId" value="5" />
    <!-- End of temporary code -->
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
    <label for="class">Class</label>
    <select name="class" required>
      <option value="0" disabled selected>--</option>
      <% for (let i = 1; i < classes.length; i++) { %>
      <option value="<%= classes[i].id %>"><%= classes[i].name %></option>
      <% } %>
    </select>
    <label for="primary-school">Primary School Spells</label>
    <div>
      <select name="primary-school" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%" ="spells[i].id" %>><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="primary-school" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%" ="spells[i].id" %>><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="primary-school" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
    </div>
    <label for="aligned-school">Aligned School Spells</label>
    <div>
      <select name="aligned-school" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="aligned-school" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="aligned-school" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
    </div>
    <label for="neutral-school">Neutral School Spells</label>
    <div>
      <select name="neutral-school" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="neutral-school" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
    </div>

    <label for="backstory">Write Your Backstory</label>
    <textarea id="backstory" name="backstory" rows="5" cols="80">
<%= backstory %>
    </textarea>

    <input type="submit" class="button" value="Submit" />
  </form>
</div>
