<div>
  <h1>Create a new Wizard</h1>
  <p>
    This is just a form that can temporarily add a new wizard to the database to
    show a POST request.
  </p>
  <form action="/api/warbands/wizards" method="POST">
    <!-- this would be connected to user sessions but for now is temporary -->
    <input type="hidden" name="user_id" value="<%= exampleUserID %>" />
    <!-- End of temporary code -->
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
    <label for="wizard_class_id">Class</label>
    <select name="wizard_class_id" required>
      <option value="0" disabled selected>--</option>
      <% for (let i = 1; i < classes.length; i++) { %>
      <option value="<%= classes[i].school_id %>">
        <%= classes[i].name %>
      </option>
      <% } %>
    </select>
    <label for="primarySpellIds">Primary School Spells</label>
    <div>
      <select name="primarySpellIds" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].spell_id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="primarySpellIds" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].spell_id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="primarySpellIds" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].spell_id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
    </div>
    <label for="alignedSpellIds">Aligned School Spells</label>
    <div>
      <select name="alignedSpellIds" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].spell_id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="alignedSpellIds" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].spell_id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="alignedSpellIds" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].spell_id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
    </div>
    <label for="neutralSpellIds">Neutral School Spells</label>
    <div>
      <select name="neutralSpellIds" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].spell_id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
      <select name="neutralSpellIds" required>
        <option value="0" disabled selected>--</option>
        <% for (let i = 1; i < spells.length; i++) { %>
        <option value="<%= spells[i].spell_id %>"><%= spells[i].name %></option>
        <% } %>
      </select>
    </div>

    <label for="backstory">Write Your Backstory</label>
    <textarea id="backstory" name="backstory" rows="5" cols="80">
<%= backstory %>
    </textarea>
    <p>
      New wizards in Frostgrave start with 400 gold to spend on an apprentice,
      hirelings, and equipment.
    </p>
    <input type="submit" class="button" value="Submit" />
  </form>
</div>
