<div id="documentation">
  <h1>Documentation</h1>
  <h2>Loading the Sample Data...</h2>
  <p>
    READ CAREFULLY: This button will clear and (re)initialize the sample
    database with the original reference, warband, and user data from JSON
    files.
  </p>
  <form action="/_seedDataNow_" method="POST">
    <button id="seed-btn" type="submit">Seed Data</button>
  </form>
  <h1>Reference Data Endpoints</h1>
  <h2>/api/reference/data(/:type) -- (GET)</h2>
  <p>
    <strong>Returns:</strong> a JSON object containing reference data for the
    game. You can add a query parameter to filter by 'type' or add to the
    endpoint as a route parameter.
  </p>
  <ul>
    <% for (let i=0; i < referenceTypes.length; i++) { %>
    <li>
      <a href="/api/reference/data/<%= referenceTypes[i] %>" target="_blank"
        ><%= referenceTypes[i] %></a
      >
    </li>
    <% } %>
  </ul>
  <h1>Warband Data Endpoints</h1>
  <h2>/api/warbands/warband/:id -- (GET)</h2>
  <ul>
    <li>
      GET <strong>Returns:</strong> a JSON Object containing the wizard data
      with apprentice, and follower data, id = wizard._id (<a
        href="/api/warbands/warband/<%= exampleWizardID %>"
        target="_blank"
        >example</a
      >)
    </li>
  </ul>
  <h2>/api/warbands(/:type) -- (GET)</h2>
  <p>
    <strong>Returns:</strong> an Array of JSON objects containing all warband
    data for the game. You can add a query parameter to filter by 'type' or add
    to the endpoint as a route parameter.
  </p>
  <ul>
    <% for (let i=0; i < warbandTypes.length; i++) { %>
    <li>
      <a href="/api/warbands/<%= warbandTypes[i] %>" target="_blank"
        ><%= warbandTypes[i] %></a
      >
    </li>
    <% } %>
  </ul>

  <h2>/api/warbands/wizards -- (GET, POST)</h2>
  <ul>
    <li>
      GET <strong>Returns:</strong> an Array of JSON Objects containing all
      wizards in the database (<a href="/api/warbands/wizards" target="_blank"
        >example</a
      >)
    </li>
    <li>POST Create New Wizard (Use form on 'Create New Wizard')</li>
  </ul>
  <h2>/api/warbands/wizards/:wizard._id -- (GET, PUT, DELETE)</h2>
  <ul>
    <li>
      GET <strong>Returns:</strong> a JSON Object of a single wizard (<a
        href="/api/warbands/wizards/<%= exampleWizardID %>"
        target="_blank"
        >example</a
      >)
    </li>
    <li>
      PUT Replaces the original wizard object with the edited JSON wizard object
      (copy/paste from the GET)
    </li>
    <li>DELETE removes the wizard</li>
  </ul>
  <h2>/api/warbands/wizards/:wizard._id/:type -- (GET)</h2>
  <ul>
    <li>
      GET <strong>Returns:</strong> an Array of JSON Objects containing all of
      type belonging to a wizard
    </li>
    <li>
      type = apprentices (<a
        href="/api/warbands/wizards/<%= exampleWizardID %>/apprentices"
        target="_blank"
        >example</a
      >)
    </li>
    <li>
      type = followers (<a
        href="/api/warbands/wizards/<%= exampleWizardID %>/followers"
        target="_blank"
        >example</a
      >)
    </li>
  </ul>
  <h2>/api/warbands/apprentices -- (GET, POST)</h2>
  <ul>
    <li>
      GET <strong>Returns:</strong> an Array of JSON Objects containing all
      apprentices in the database (<a
        href="/api/warbands/apprentices"
        target="_blank"
        >example</a
      >)
    </li>
    <li>POST Creates a new Apprentice (requires wizard_id)</li>
  </ul>
  <h2>/api/warbands/apprentices/:apprentice._id -- (GET, PUT, DELETE)</h2>
  <ul>
    <li>
      GET <strong>Returns:</strong> an Array of JSON Objects containing
      apprentices belonging to a wizard (<a
        href="/api/warbands/apprentices/<%= exampleApprenticeID %>"
        target="_blank"
        >example</a
      >)
    </li>
    <li>
      PUT Replaces the original apprentice object with the edited JSON
      apprentice object (copy/paste from the GET)
    </li>
    <li>DELETE removes the apprentices belonging to the wizard</li>
  </ul>
  <h2>/api/warbands/followers -- (GET, POST)</h2>
  <ul>
    <li>
      GET <strong>Returns:</strong> an Array of JSON Objects containing all
      followers in the database (<a
        href="/api/warbands/followers"
        target="_blank"
        >example</a
      >)
    </li>
    <li>POST Create new Follower (requires wizard id, name)</li>
  </ul>
  <h2>/api/warbands/followers/:follower._id -- (GET, PUT, DELETE)</h2>
  <ul>
    <li>:id = follower._id</li>
    <li>
      GET <strong>Returns:</strong> an Array of JSON Objects containing
      followers belonging to a wizard (<a
        href="/api/warbands/followers/<%= exampleFollowerID %>"
        target="_blank"
        >example</a
      >)
    </li>
    <li>
      PUT you will need to pass in the entire JSON apprentice object with the
      wizard_id (copy/paste from the GET)
    </li>
    <li>DELETE (requires query param of follower._id)</li>
  </ul>
  <h1>User Data Endpoints</h1>
  <h2>/api/users -- (GET, POST)</h2>
  <ul>
    <li>
      GET <strong>Returns:</strong> an Array of JSON objects of all users (<a
        href="/api/users"
        target="_blank"
        >example</a
      >)
    </li>
    <li>POST Creates a new user (requires name, email, password)</li>
  </ul>
  <h2>/api/users/:user._id -- (GET, PUT, DELETE)</h2>
  <ul>
    <li>
      GET <strong>Returns:</strong> an Array of JSON objects of all users (<a
        href="/api/users/<%= exampleUserID %>"
        target="_blank"
        >example</a
      >)
    </li>
    <li>POST Creates a new user (requires name, email, password)</li>
  </ul>
</div>
